* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

.btn {
  padding: 10px 25px;
  font-weight: bold;
  display: inline-block;
}

.btn-primary-color {
  background-color: #0282f9;
}

.btn-transparent {
  border: 2px solid #0282f9;
  color: white;
}

.container-space {
  width: 70%;
  margin: auto;
}

header {
  height: 100px;
  width: 100%;
}

header .additionalSites {
  height: 20px;
  width: 100%;
  background-color: #0282f9;
}

header .navBar {
  height: 80px;
  width: 100%;
  background-color: white;
}

header .navBar ul {
  height: 100%;
  display: flex;
  justify-content: center;
}

header .navBar ul li {
  height: 100%;
  margin: 0 10px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

header .navBar ul li.selected {
  color: #0282f9;
}

main {
  color: white;
  text-transform: uppercase;
}

main .currentSeries {
  background-color: #1c1c1c;
  padding: 40px 40px 20px 40px;
}

main .currentSeries .mainCurrentSeriesContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

main .currentSeries .mainCurrentSeriesContainer .card {
  width: calc(16.6666666667% - 20px);
  margin: 10px;
}

main .main-extra-link {
  background-color: #0282f9;
  padding: 30px 0;
}

main .main-extra-link .main-extra-container {
  display: flex;
  justify-content: center;
}

main .main-extra-link .main-extra-container .main-extra-link-single-container {
  margin: 0 20px;
}

footer {
  width: 100%;
}

footer .footer-social {
  width: 100%;
  height: 100px;
  background-color: #303030;
  text-transform: uppercase;
  display: flex;
}

footer .footer-social .footer-social-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer-social .footer-social-container .footer-social-link {
  display: flex;
}

footer .footer-social .footer-social-container .footer-social-link .footer-followUs {
  color: #0282f9;
}

