* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
}

.jumbotron {
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.jumbotron img {
  -o-object-fit: cover;
     object-fit: cover;
}

.btn {
  padding: 10px 25px;
  font-weight: bold;
  display: inline-block;
}
.btn-primary-color {
  background-color: #0282f9;
}
.btn-transparent {
  border: 2px solid #0282f9;
  color: white;
}

.container-space {
  width: 70%;
  margin: auto;
}

header {
  width: 100%;
}
header .additionalSites {
  height: 20px;
  width: 100%;
  background-color: #0282f9;
}
header .navBar {
  height: 80px;
  width: 100%;
  background-color: white;
}
header .navBar ul {
  height: 100%;
  display: flex;
  justify-content: center;
}
header .navBar ul li {
  height: 100%;
  margin: 0 10px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
header .navBar ul li.selected {
  color: #0282f9;
}

main {
  color: white;
  text-transform: uppercase;
}
main .currentSeries {
  background-color: #1c1c1c;
  padding: 40px 40px 20px 40px;
}
main .currentSeries .mainCurrentSeriesContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
main .currentSeries .mainCurrentSeriesContainer .card {
  width: calc(16.6666666667% - 20px);
  margin: 30px 10px;
}
main .main-extra-link {
  background-color: #0282f9;
  padding: 30px 0;
}
main .main-extra-link .main-extra-container {
  display: flex;
  justify-content: center;
}
main .main-extra-link .main-extra-container .main-extra-link-single-container {
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .main-extra-link .main-extra-container .main-extra-link-single-container .main-extra-link-img {
  min-width: 40px;
  max-width: 50px;
  margin: 0 10px;
}
main .background-blue {
  background-color: #0282f9;
  height: 50px;
  position: relative;
}
main .background-blue .comic-image {
  width: 150px;
  position: absolute;
  bottom: 13px;
  left: 17%;
  border: 1px solid white;
}
main .product-container {
  width: 70%;
  margin: auto;
}
main .product-adv-container {
  display: flex;
  justify-content: center;
  padding: 50px 0px;
}
main .product-adv-container .product-container {
  width: 70%;
  padding: 0 25px;
}
main .product-adv-container .product-container .title {
  color: #003f5e;
  font-size: 20px;
}
main .product-adv-container .product-container .price {
  background-color: #55ba59;
  margin: 20px 0;
  padding: 15px 20px;
  border-bottom: 1px solid gray;
}
main .product-adv-container .product-container .price .ms_color {
  text-transform: none;
  opacity: 50%;
}
main .product-adv-container .product-container .description {
  color: gray;
  text-transform: none;
}
main .product-adv-container .adv-container {
  width: 30%;
}
main .extra-product-container {
  background-color: #f6f6f6;
  text-transform: none;
  border: 1px solid lightgray;
}
main .extra-product-container .product-container {
  display: flex;
}
main .extra-product-container .product-container .category {
  width: 50%;
  margin-right: 50px;
  margin-bottom: 100px;
}
main .extra-product-container .product-container .category .title-container {
  padding: 20px 0;
  border-bottom: 1px solid lightgray;
}
main .extra-product-container .product-container .category .title-container .title {
  color: #003f5e;
}
main .extra-product-container .product-container .category .single-mini-title-container {
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
main .extra-product-container .product-container .category .single-mini-title-container .mini-title-container {
  width: 40%;
}
main .extra-product-container .product-container .category .single-mini-title-container .mini-title-container .mini-title {
  color: #003f5e;
}
main .extra-product-container .product-container .category .single-mini-title-container .description-container .description {
  color: #0282f9;
}
main .extra-product-container .product-container .category .single-mini-title-container .description-container .description_m {
  text-transform: uppercase;
}
main .extra-product-container .product-container .category .single-mini-title-container .description-container .description_b {
  color: black;
}

footer {
  width: 100%;
}
footer .footer-extra-link {
  background-image: url("../images/footer-bg.jpg");
}
footer .footer-social {
  width: 100%;
  height: 100px;
  background-color: #303030;
  text-transform: uppercase;
  display: flex;
}
footer .footer-social .footer-social-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-social .footer-social-container .footer-social-link {
  display: flex;
}
footer .footer-social .footer-social-container .footer-social-link ul {
  display: flex;
  justify-content: center;
}
footer .footer-social .footer-social-container .footer-social-link ul .footer-followUs {
  color: #0282f9;
  margin-right: 15px;
}
footer .footer-social .footer-social-container .footer-social-link ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2px;
}
footer .footer-social .footer-social-container .footer-social-link ul li img {
  width: 70%;
}