footer{

    width: 100%;

    .footer-extra-link{

        background-image: url('../images/footer-bg.jpg');

    }

    .footer-social{

        width: 100%;
        height: 100px;
        background-color: #303030;
        text-transform: uppercase;
        display: flex;

        .footer-social-container{

            display: flex;
            justify-content: space-between;
            align-items: center;

            .footer-social-link{

                display: flex;

                ul{

                    display: flex;
                    justify-content: center;
                    
                    .footer-followUs{
    
                        color: $primary_color;
                        margin-right: 15px;
        
                    }

                    li{

                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0 2px;

                        img{

                            width: 70%;

                        }

                    }

                }
    
            }

        }

    }

}