footer{

    width: 100%;

    .footer-social{

        width: 100%;
        height: 100px;
        background-color: #303030;
        text-transform: uppercase;
        display: flex;

        .footer-social-container{

            display: flex;
            justify-content: space-between;
            align-items: center;

            .footer-social-link{

                display: flex;
    
                .footer-followUs{
    
                    color: $primary_color;
    
                }
    
            }

        }

    }

}